<div class="row">
   <div class="col-md-9 col-xs-12">
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'user-details.user.title'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{user.title}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'user-details.user.firstname'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{user.firstname}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'user-details.user.lastname'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{user.lastname}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'user-details.user.username'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{user.username}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'user-details.user.email'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{user.mail}}</div>
      </div>
      <div class="row">
         <label class="col-md-3 col-xs-5">{{'user-details.user.createdAt'|translate}}</label>
         <div class="col-md-4 col-xs-7">{{user.createdAt| date:'yyyy-MM-dd HH:mm'}}</div>
      </div> 
   </div>
</div>

