<h3>
   <span>
      {{'user-list.label'|translate}}
   </span>
</h3>
<div class="row">
   <div class="col-md-4">
      <h4 translate="user-list.label.count"
          translate-values="{count:'{{filtered.length}}'}"></h4>
   </div>
   <div class="col-md-4">
      <div ng-show="loading">
         <i class="fa fa-spinner fa-spin"></i>
         <span class="text-lowercase">{{'user-list.label.loading'|translate}}</span>
      </div>
   </div>
   <div class="col-md-4">
      <a class="btn btn-success"
         ui-sref="user.add" 
         sec:authorize="hasAnyRole('ROLE_ADMIN')">
         <i class="fa fa-plus-square"></i>
         <span class="hidden-xs" 
               translate="user-list.label.add" >
            Create User
         </span>
      </a>
   </div>
</div>

<h4 class="text-center"
    ng-show="!users.length">
   {{'user-list.label.noData'|translate}}
</h4>

<div ng-show="users.length">
   <div class="row row-header-bottom">
      <div class="hidden-xs col-md-3">{{'user-list.label.user.lastname'|translate}}</div>
      <div class="hidden-xs col-md-3">{{'user-list.label.user.firstname'|translate}}</div>
      <div class="hidden-xs col-md-3">{{'user-list.label.title'|translate}}</div>
      <div class="col-md-3"></div>
   </div>
   <div class="row row-custom" ng-repeat="user in filtered = (users
                        | orderBy:['lastname', 'firstname', 'title']) ">
      <div class="col-xs-5 visible-xs">
         <strong><small>{{'user-list.label.user.lastname'|translate}}</small></strong>
      </div>
      <div class="col-xs-7 col-md-3">
         <a ui-sref="user.common.details({id: user.userId})">
            {{user.lastname}}
         </a>
      </div>
      <div class="col-xs-5 visible-xs">
         <strong><small>{{'user-list.label.user.firstname'|translate}}</small></strong>
      </div>
      <div class="col-xs-7 col-md-3">
         <a ui-sref="user.common.details({id: user.userId})">
            {{user.firstname}}
         </a>
      </div>
      <div class="col-xs-5 visible-xs">
         <strong><small>{{'user-list.label.title'|translate}}</small></strong>
      </div>
      <div class="col-xs-7 col-md-3">{{user.title}}</div>
      <div class="col-xs-5 visible-xs">
         <strong><small>{{'user-list.label.worker'|translate}}</small></strong>
      </div>
      <div class="col-md-3">
         <a class="btn btn-primary"
            ui-sref="user.edit({id: user.userId})" 
            sec:authorize="hasAnyRole('ROLE_ADMIN')">
            <i class="fa fa-pencil-square-o"></i>
            <span class="hidden-xs" 
                  translate="user-list.label.edit" >
               User Edit
            </span>
         </a>
         <a ng-if="!user.enabled"
            class="btn btn-success"
            ng-click="unblockUser(user.userId)"
            sec:authorize="hasAnyRole('ROLE_ADMIN')">
            <i class="fa fa-check-square-o"></i>
            <span class="hidden-xs" 
                  translate="user-list.label.unblock" >
               User unlock
            </span>
         </a>
         <a 
            class="btn btn-danger"
            ng-click="deleteUser(user.userId)"
            sec:authorize="hasAnyRole('ROLE_ADMIN')">
            <i class="fa fa-times"></i>
            <span class="hidden-xs" 
                  translate="user-list.label.delete" >
               User delete
            </span>
         </a>
      </div>
   </div>
</div>

<div class="modal fade" tabindex="-1" id="ProcessingModal" role="dialog" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <div class="text-center">
               <i class="fa fa-cog fa-5x fa-spin"></i>
               <h4>{{'user-list.label.loading'|translate}} </h4>
            </div>
         </div>
      </div>
   </div>
</div>
